body {
    font-family: 'Roboto', sans-serif;
}

button {
    background-color: #3882F6;
    padding: 5px;
    font-size: 24px;
    padding: 14px 40px;
    border-radius: 12px;
    color: white;
    text-align: center;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    padding: 16px;
    display: flex;
}

.header-logo {
    font-weight: bold;
    font-size: 24px;
    margin-left: 16px;
    margin-left: 0;
    margin-right: auto;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.hero-section {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hs-texts-and-button {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.hs-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hs-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 16px;
    margin-bottom: 16px;
}

.placeholder-image {
    background-color: #E5E7EB;
    color: #1F2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.information-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.info-content-parent {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-content {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.info-box {
    width: 200px;
    height: 200px;
    border: 4px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 16px;
}

.info-text {
    text-align: center;
    font-size: 18px;
    color: darkgray;
    font-weight: bold;
}

.quote-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote-text {
    width: 780px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding: 1px;
}

.quote-author {
    width: 780px;
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: 0;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.cta-body {
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 12px;
}

.cta-texts {
    display: flex;
    flex-direction: column;
}

.cta-maintext, .cta-subtext {
    color: white;
}

.cta-maintext {
    font-size: 24px;
    font-weight: bold;
}